// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
}

.welcome-banner {
    width: 100%;
    background-color: $black;
    box-shadow: 0 0 10px 10px grey, 
                inset 0 0 50px 10px #555;
}

.board {
    border: 1px solid red;
}

.participants {
    border: 1px solid blue;
}
