// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
    letter-spacing: 10px;
    word-spacing: 10px;
    background-image: linear-gradient(180deg,#8b60ed,#b372bd);
    text-transform: uppercase;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.list-enter-active, .list-leave-active {
    transition: opacity 1s;
}
.list-enter, .list-leave-to {
    opacity: 0;
    // transform: translateX(30px);
}

.btn {
    text-transform: uppercase;
    &:active, &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 3px $white;
    }
}
.form-control {
    border:0;
    text-transform: uppercase;
    &:active, &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 3px $primary;
    }
}
