// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
}

.welcome-banner {
    width: 100%;
    background-color: $black;
    box-shadow: $shadow-drama, 
                inset 0 0 50px 10px $gray-800;
}

.app {
    box-shadow: $shadow-drama;

    .board {
        width: 600px;
        background-color: $light;
    }
    
    .player-list {
        width: 300px;
        background-color: $black;

        .list-group-item {
            background: transparent;
            border-radius: 0;
        }

        .badge {
            font-size: inherit;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
